# APP Config ==================
PORT = 5000

# Langsmith =================
LANGSMITH_API_KEY="<ADD LANGSMITH PROJECT KEY>"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="<APP NAME>"

# LLM Provider ================
GROQ_API_KEY="<ADD GROQ KEY>"
GROQ_MODEL="llama-3.3-70b-versatile"

EMBEDDING_MODEL="nomic-embed-text"